@using EduPlatformProject.Resources
@using Microsoft.Extensions.Localization
@using System.Globalization
@inject IStringLocalizer<SharedResources> localizer

@{
    string lang = CultureInfo.CurrentCulture.TwoLetterISOLanguageName;
    string dir = lang == "ar" ? "rtl" : "ltr";
}

<!DOCTYPE html>
<html lang="@lang" dir="@dir">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EduPlatformProject</title>
    @if (lang == "ar")
    {
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" />
    }
    else
    {
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    }
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EduPlatformProject.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Edu Platform</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">@localizer["Homepage"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Assignments">@localizer["Assignments"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Exams">@localizer["Exams"]</a>
                        </li>
                        @if (Context.Session.GetString("id") != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-success" asp-area="" asp-controller="Home" asp-action="Favorites">@localizer["Favorites"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-danger" asp-area="" asp-controller="Auth" asp-action="Logout">@localizer["Logout"]</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Login">@localizer["Login"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="SignUp">@localizer["SignUp"]</a>
                            </li>

                        }
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">@localizer["Language"]</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item"
                                       asp-action="switchlanguage"
                                       asp-controller="home"
                                       asp-route-lang="tr"
                                       asp-route-returnUrl="@(Context.Request.Path + Context.Request.QueryString)">Türkçe</a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       asp-action="switchlanguage"
                                       asp-controller="home"
                                       asp-route-lang="ar"
                                       asp-route-returnUrl="@(Context.Request.Path + Context.Request.QueryString)">العربية</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Edu Platform - <a asp-area="" asp-controller="Home" asp-action="index">@localizer["Homepage"]</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
